<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta content="yes"name="apple-mobile-web-app-capable">
    <meta name="viewport"content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="renderer" content="webkit">
    <title>中北租车司机端</title>
    <link rel="stylesheet" href="outdrivers/index.css"/>
    <script src="http://webapi.amap.com/maps?v=1.4.5&key=47dbfa959fb7bbb69414a674d65d4122&&plugin=AMap.Scale,AMap.OverView,AMap.ToolBar"></script>
    <script type="text/javascript">
        window.AMap = AMap;
    </script>
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="outdrivers/index.js"></script></body>
</html>
