<!DOCTYPE HTML>
<html>
<head>
    <title>测试专用环境</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="/out/bei.ico" type="image/x-icon"/>  
    <link rel="stylesheet" href="out/index.css">
    <script src="http://webapi.amap.com/maps?v=1.4.5&key=47dbfa959fb7bbb69414a674d65d4122&&plugin=AMap.Scale,AMap.OverView,AMap.ToolBar"></script>
    <script type="text/javascript">
        window.AMap = AMap;
    </script>
</head>
<body>
    <div id="root"></div>
    <div id="ip" style="display: none">
        <script type="text/javascript" src="http://ip.chinaz.com/getip.aspx"></script>
    </div>
    <script type="text/javascript" src="out/index.js"></script>
</body>
</html>